@model IEnumerable<WebApplication3.Models.EBOOK_HIS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Member/MainPage.cshtml";
}

<h2>电子书浏览记录</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                电子书ID
            </th>
            <th>
                电子书类型
            </th>
            <th>
                电子书名
            </th>
            <th>
                浏览时间
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EBOOKID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EBOOKTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EBOOKNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BROWSETIME)
            </td>

            <td>
                @Html.ActionLink("删除记录", "Edit", new { ebookid = item.EBOOKID, memberid = item.MEMBERID }) |
                @Html.ActionLink("详细信息", "Details", new { id = item.EBOOKID })

            </td>
        </tr>
        }

    </table>
    </div>
